{% extends 'layout.html' %}

{% block title %}index {{title}} {%endblock%}

{% block head %}
{{title}}
{% endblock %}

{% block content %}
<script src='http://open.mobile.qq.com/sdk/qqapi.js?_bid=152'></script>
<script src="http://sqimg.qq.com/qq_product_operations/mobile/yy/wmyoffice/src/part/qqOfficeApi.js"></script>

<script>
	function SelectContact() {
//		alert('start call');
		try{
    mqq.invoke("QQOfficeOpen", "selectContact", {appId:{{appid}}}, function (t) {
            alert("select:" + t.contacts);
        });
		}catch(e){
			alert('call err:'+e.message+' name:'+e.name+' code:'+e.number);
		}finally{
//    	alert('end call');
    }
	}
	function SelectselectGroupDiscuss() {
		try{
    mqq.invoke("QQOfficeOpen", "selectGroupDiscuss", {appId:{{appid}}}, function (t) {
            alert("select:" + t.flag);
        });
		}catch(e){
			alert('call err:'+e.message+' name:'+e.name+' code:'+e.number);
		}finally{
    }
	}
	
	function SetExternAction(){
		alert("start call SetExternAction");

		var params = {appId:{{appid}}, action:[{id:1, callback:qqOffice.callback(function(result){alert("分享retCode："+result.retCode);})}, {title:"item1", callback:qqOffice.callback(function(){ alert("点击item1");})} ], cancelCallback:qqOffice.callback(function() {alert( "cancel");})};
		try{
    	mqq.invoke("QQOfficeOpen", "externAction", params);
		}catch(e){
			alert('call err:'+e.message+' name:'+e.name+' code:'+e.number);
		}finally{
    }
	}

</script>
<p>This is just an awesome page.</p> 
<br/>
<p>欢迎回来，您的openid是：{{openId}}</p>
<!-- <p>docs:{{docStr}}</p> -->
<p>设置办公中心红点通知：<a href="http://{{domain}}/officecenter?op=1&aid={{appid}}&at={{at}}&oid={{openId}}">点我</a></p>
<p>您可以<a href="http://{{domain}}/users">直接查看</a></p>
<p>您还可以<a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id={{appid}}&redirect_uri=http%3A%2F%2F{{domain}}%2Fcallback%3Ftype%3Djumpauthcode&scope=get_user_info,list_album,upload_pic,do_like">重新登录</a></p>
<br/>

<button type='button' onclick='SelectContact()'>点击这里选人</button>
<br/>
<button type='button' onclick='SelectselectGroupDiscuss()'>点击这里选群</button>
<br/>
<button type='button' onclick='SetExternAction()'>点击设置右上角菜单</button>


<!-- nnnnnnnnnnnnnnnnnnnnnnnn-->

<form>
    <h1 align="baseline">
        QQOffice Api Test
    </h1>
</form>
<div id="divMQQ" style="display:none">

    <input type="button" value="获取当前平台类型" onclick="getPlatform()"/><br/>
	<input type="button" value="获取办公开放版本(白名单未开通)" onClick="getVersion()"/><br/>
	<input type="button" value="获取网络状况" onClick="getNetworkInfo()"/><br/>
	<input type="button" value="定制右上角按钮(自定义)" onClick="externAction(1)"/><br/>
	<input type="button" value="定制右上角按钮(分享)" onClick="externAction(2)"/><br/>
	<input type="button" value="弹出actionSheet" onClick="externAction(3)"/><br/>
	<input type="button" value="获取联系人openID" onClick="selectContact()"/><br/>
	<input type="button" value="获取群或讨论组openID" onClick="selectGroupDiscuss()"/><br/>
    <form>
        <p>调用结果:<label id="m_api_invoke_result"></label></p>
    </form>
</div>

<div id="divPQQ" style="display:none">
    <form>
        <p>API函数名(method): <input type="text" id="p_api_method" value="example" oninput="p_onInputChange()"/></p>

        <p>API参数(jasonParam): <input type="text" id="p_api_param" value='{"p1":"11","p2":"22"}'
                                     oninput="p_onInputChange()"/>
        </p>

        <p>API调用格式:<label id="p_api_invoke_format"></label></p>
    </form>

    <input type="button" value="立即执行" onclick="p_doInvokeJsApi()"/>

    <form>
        <p>调用结果:<label id="p_api_invoke_result"></label></p>
    </form>
</div>

<script  type="text/javascript">

var m_apiEleModule;
var m_apiEleMethod;
var m_apiEleParam;
var m_apiEleInvokeFormat;
var m_apiEleInvokeResult;


var p_apiEleModule;
var p_apiEleMethod;
var p_apiEleParam;
var p_apiEleInvokeFormat;
var p_apiEleInvokeResult;

var qq = {};
qq.localplatform = qqOffice.getPlatform();

document.addEventListener("DOMContentLoaded", onLoad, false);

function onLoad() {
	m_apiEleInvokeResult = document.getElementById('m_api_invoke_result');
	
	var divMQQ=document.getElementById("divMQQ");
	var divPQQ=document.getElementById("divPQQ");
	
	if (qq.localplatform == 'pc') {
		divPQQ.setAttribute("style","display");
		divMQQ.setAttribute("style","display:none");
        p_onInputChange();
	} else {
		divPQQ.setAttribute("style","display:none");
		divMQQ.setAttribute("style","display");
	}
	
}

function getPlatform( ){
	m_apiEleInvokeResult.innerText = "\n当前环境为：" + qqOffice.getPlatform();
}

function getVersion( ){
	m_apiEleInvokeResult.innerText = "\n当前办公开放版本为：" + qqOffice.getVersion({appId:{{appid}}}, function(param){ 
		alert('ver:'+param.version);
		var version = eval('(' + param + ')');
		m_apiEleInvokeResult.innerText = "version: " + version.version;});
}

function getNetworkInfo( ){
	qqOffice.getNetworkInfo({appId:101284920}, function(param){
		var params = eval('(' + param + ')');
		var enable;
		var type;
		if(params.enable == 0){
			enable = "连通";
		}else if(params.enable == 1){
			enable = "不连通";
		}
		switch(params.type){
		case 1:
			type = "wifi";
			break;
		case 2:
			type = "2g";
			break;
		case 3:
			type = "3g";
			break;
		case 4:
			type = "4g";
			break;
		case 5:
			type = "unknow";
			break;
		}
		m_apiEleInvokeResult.innerText = "\n当前网络 :" + enable + "\n网络类型：" + type;
	});
}

function externAction(param){
	var params;
	switch(param){
	case 1:
		params = {appId:101284920, action:[{title:"item1", callback:qqOffice.callback(function(){ alert("点击item1");})} ], cancelCallback:qqOffice.callback(function() {m_apiEleInvokeResult.innerText = "cancel";})};
		break;
	case 2:
		params = {appId:101284920, action:[{id:1, callback:qqOffice.callback(function(result){ 
     	   var r = eval('(' + result + ')');
    	   if(r.retCode == 0){
    		   m_apiEleInvokeResult.innerText = "share success";
    	   }
    	  
    	})}]};
		break;
	case 3:
		params = {appId:101284920, action:[{title:"item1", callback: qqOffice.callback(function(){ alert("点击item1");})}, {
				id:1, callback:qqOffice.callback(function(result){
	     	   var r = eval('(' + result + ')');
	    	   if(r.retCode == 0){
	    		   m_apiEleInvokeResult.innerText = "share success";
	    	   }
	    	  
	    	})}], cancelCallback:qqOffice.callback(function() {m_apiEleInvokeResult.innerText = "cancel";})};
		break;
	}
	qqOffice.externAction(params);
}

function selectContact( ){
	qqOffice.selectContact({appId:101284920}, function(result){
		var r = eval('(' + result + ')');
		if(r.result == 1){
			var ids = r.contacts;
			m_apiEleInvokeResult.innerText = "\nopenId:"
			for(var i = 0; i < ids.length; i++){
				m_apiEleInvokeResult.innerText += "\n" + ids[i];
			}
			m_apiEleInvokeResult.innerText += "\ntoken: " + r.secret;
		}else if(r.result == -1){
			m_apiEleInvokeResult.innerText = "\nfail";
		}
	});
}

function selectGroupDiscuss( ){
	qqOffice.selectGroupDiscuss({appId:101284920}, function(result){
		var r = eval('(' + result + ')');
		if(r.result == 1){
			m_apiEleInvokeResult.innerText = "\n用户openId：" + r.openId;
			if(r.flag == 2){
				m_apiEleInvokeResult.innerText += "\n群openid: " + r.groupDiscussCode;
			}else if(r.flag == 3){
				m_apiEleInvokeResult.innerText += "\n讨论组openid: " + r.groupDiscussCode;
			}
			m_apiEleInvokeResult.innerText += "\ntoken: " + r.secret;
		}else if(r.result == -1){
			m_apiEleInvokeResult.innerText = "\nfail";
		}
	});
}

</script>

{% endblock %}
