{% extends 'layout.html' %}

{% block title %}index {{title}} {%endblock%}

{% block head %}
{{title}}
{% endblock %}

{% block content %}
<p>This is just an awesome page.</p> 
<br/>
<p>欢迎回来，您的openid是：{{openId}}</p>
<p>您可以<a href="http://www.xiangrikuimama.com/users">直接查看</a></p>
<p>您还可以<a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101284920&redirect_uri=http%3A%2F%2F{{domain}}%2Fcallback%3Ftype%3Djumpauthcode&scope=get_user_info,list_album,upload_pic,do_like">重新登录</a></p>
{% endblock %}
