{% extends 'layout.html' %}

{% block title %}index {{title}} {%endblock%}

{% block head %}
{{title}}
<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101284920" charset="utf-8"></script>
{% endblock %}

{% block content %}
<p>This is just an awesome page.</p>
<span id="qqLoginBtn"></span>
<!--<script type="text/javascript">
	QC.Login({
		btnId:"qqLoginBtn"	//id
	});
</script>-->
<a href="http://www.baidu.com">baidu</a>
<a href="tel:15899786761">havenwang电话</a>
<a href="tel:15889679511">gartingsun电话</a>
<a href="tel:18665860097">lovekidchen电话</a>
<br/>
<a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&client_id=101284920&redirect_uri=http%3A%2F%2F{{domain}}%2Fcallback%3Ftype%3Djumpauthcode&scope=get_user_info,list_album,upload_pic,do_like">test</a>
{% endblock %}
