{% extends 'layout.html' %}

{% block title %}AuthToken自动跳转 {%endblock%}

{% block head %}

{% endblock %}

{% block content %}
accesstoken: {{accesstoken}}
<br/>
<script language="JavaScript" type="text/javascript">
 function delayURL(url) {
  var delay = document.getElementById("time").innerHTML;//最好加个parseInt
  if(delay > 0) {
    delay--;
    document.getElementById("time").innerHTML = delay;
  } else {
   window.top.location.href = url;
  }
  setTimeout("delayURL('" + url + "')", 1000);
 }
</script>
<span id="time" style="background: #00BFFF">10</span>秒钟后自动跳转，如果不跳转，请点击下面的链接<a href="http://www.jb51.net">我的百度</a>
<script type="text/javascript">
var url='www.xiangrikuimama.com/users';
delayURL(url);
</script>
{% endblock %}
